/node_modules
/public/hot
/public/storage
/public/images
/public/fonts/vendor
/storage/*.key
/public/*.js
/public/js/*
!/public/js/jquery-3.3.1.min.js
!/public/js/select2.full.js
!/public/js/slick.min.js
/public/css/*
/storage/debugbar/*
.idea
/vendor
/docker-compose/mysql_data
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
