body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    background-color: #ffffff;
}
.property-list .property-list-head {
    background-color: #6BB63F;
    min-height: 68px;
    display: flex;
    align-items: center;
}
.property-list .property-list-head a.navbar-brand {
    margin-right: 25px;
}
.property-list .property-list-head a.whatsapp-number svg {
    margin-right: 8px;
}
.property-list .property-list-head a.whatsapp-number {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
    text-decoration: none;
    white-space: nowrap;
}
.property-list .property-list-head .property-list-head-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.property-list .property-list-head .property-list-head-menu ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.property-list .property-list-head .property-list-head-menu ul img {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}
.property-list .property-list-head .property-list-head-menu ul img.hover,
.property-list .property-list-head .property-list-head-menu ul img.active {
    display: none;
}
.property-list .property-list-head .property-list-head-menu ul li {
    margin-right: 19px;
    margin-left: 19px;
}
.property-list .property-list-head .property-list-head-menu ul li a:hover img.hover {
    display: inline-block;
}
.property-list .property-list-head .property-list-head-menu ul li a:hover img.normal {
    display: none;
}
.property-list .property-list-head .property-list-head-menu ul li a.active img.active {
    display: inline-block;
}
.property-list .property-list-head .property-list-head-menu ul li:first-of-type {
    margin-left: 0;
}
.property-list .property-list-head .property-list-head-menu ul li:last-of-type {
    margin-right: 0;
}
.property-list .property-list-head .property-list-head-menu ul a {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    white-space: nowrap;
}
.property-list .property-list-head .property-list-head-menu ul a span {
    margin-left: 5px;
}
.property-list .property-list-subhead {
    padding-top: 42px;
    padding-bottom: 43px;
}
.property-list .property-list-subhead .title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    color: #333646;
}
.property-list .property-list-subhead .subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #545769;
    max-width: 728px;
    width: 100%;
    margin: auto;
}
.property-list .property-list-subhead a.whatsapp-link-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    text-align: right;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
    text-decoration: none;
    width: 352px;
    height: 73px;
    background-color: #6BB63F;
    border-radius: 100px 100px 100px 0;
    margin-bottom: 17px;

}
.property-list .property-list-subhead a.whatsapp-link-number img {
    width: 49px;
    height: 49px;
    margin-right: 10px;
}
.property-list .property-list-subhead .whatsapp-link {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.property-list .property-list-subhead a.whatsapp-link-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: right;
    color: #4CAF50;
    text-decoration: none;
}
.property-list .property-list-subhead .gallery-block .double-photo {
    display: flex;
    margin-top: 25px;
}
.property-list .property-list-subhead .gallery-block .double-photo img.first-photo {
    width: 113px;
    height: 203px;
    margin-top: 15px;
}
.property-list .property-list-subhead .gallery-block .double-photo img.second-photo {
    width: 176px;
    height: 176px;
}
.property-list .property-list-subhead .property-list-subhead-gallery {
    margin-top: 35px;
    margin-bottom: 37px;
    display: flex;
}
.property-list .property-list-subhead .gallery-block .gallery-block-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #333646;
    margin-top: 32px;
    padding-left: 44px;
    position: relative;
    text-align: left;
}
.property-list .property-list-subhead .gallery-block img.screen {
    width: 220px;
    height: 204px;
}
.property-list .property-list-subhead .gallery-block {
    margin-left: 29px;
    margin-right: 29px;
}
.property-list .property-list-subhead .gallery-block:first-of-type {
    margin-left: 0;
}
.property-list .property-list-subhead .gallery-block:last-of-type {
    margin-right: 0;
}
.property-list .property-list-subhead .gallery-block .gallery-block-text:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #545769;
}
.property-list .property-list-subhead .gallery-block.step-one .gallery-block-text:before {
    content: "1";
}
.property-list .property-list-subhead .gallery-block.step-two .gallery-block-text:before {
    content: "2";
}
.property-list .property-list-subhead .gallery-block.step-three .gallery-block-text:before {
    content: "3";
}
.property-list .property-list-subhead .gallery-block.step-four .gallery-block-text:before {
    content: "4";
}
.property-list .property-list-subhead .gallery-block .gallery-block-text:after {
    position: absolute;
    content: url("/svg/i-arrow-right.svg");
    width: 56px;
    height: 15px;
    line-height: 0;
    top: 10px;
}
.property-list .property-list-subhead .gallery-block.step-one .gallery-block-text:after {
    right: -39px;
}
.property-list .property-list-subhead .gallery-block.step-two .gallery-block-text:after {
    right: -89px;
}
.property-list .property-list-subhead .gallery-block.step-three .gallery-block-text:after {
    right: -39px;
}
.property-list .property-list-subhead .gallery-block.step-four .gallery-block-text:after {
    right: -39px;
    content: none;
}
footer#main-footer {
    border-top: 1px solid #dadadf;
    background-color: #ffffff;
}
footer#main-footer .footer-content {
    min-height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer#main-footer img.footer-logo {
    width: 206px;
    height: 26px;
}
footer#main-footer .copyright {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    text-align: right;
    color: #B5B7C1;
}
footer#main-footer ul.footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
footer#main-footer ul.footer-menu li {
    margin-left: 20px;
    margin-right: 20px;
}
footer#main-footer ul.footer-menu li a {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #333646;
    text-decoration: none;
}
footer#main-footer ul.footer-menu li a:hover,
footer#main-footer ul.footer-menu li a:active {
    color: #777A86;
}


.list-content {
    background: #F7F8FA;
    padding-top: 32px;
    padding-bottom: 80px;
}
.list-content h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    color: #333646;
    margin-bottom: 22px;
    margin-top: 0;
}
.list-content .sample-block {
    margin-bottom: 44px;
    display: flex;
    align-items: flex-end;
}
.list-content .sample-block label {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #333646;
    margin-bottom: 12px;
}
.list-content .sample-block .input-block {
    max-width: 780px;
    width: 100%;
}
.list-content .sample-block input {
    background: #FFFFFF;
    border-radius: 6px 0 0 6px;
    width: 100%;
    height: 54px;
    outline: none;
    border: 4px solid #e7e7e7;
    padding: 0 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #333646;
}
.list-content .sample-block .select-block {
    display: flex;
    flex-direction: column;
    min-width: 116px;
}
.list-content .sample-block select {
    width: 100%;
    height: 54px;
    border-top: 4px solid #e7e7e7;
    border-bottom: 4px solid #e7e7e7;
    border-right: 4px solid #e7e7e7;
    border-left: 0;
    padding: 0 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #333646;
    outline: none;
}
.list-content .sample-block a.find-housing {
    min-width: 165px;
    height: 54px;
    background: #FDB64E;
    border-radius: 0 6px 6px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #333646;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    border-top: 4px solid #e7e7e7;
    border-bottom: 4px solid #e7e7e7;
    border-right: 4px solid #e7e7e7;
}
.list-content .sample-block a.find-housing:hover,
.list-content .sample-block a.find-housing:active {
    background-color: #f8981d;
    color: #ffffff;
}
.list-content .sorting-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.list-content .sorting-block .left-block a {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: #66707A;
    min-width: 98px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #7A8793;
    border-radius: 100px;
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
}
.list-content .sorting-block .left-block a.active {
    background-color: #9fa0a4;
    border: 0;
    color: #fff;
}
.list-content .sorting-block .left-block {
    display: flex;
    align-items: center;
}
.list-content .sorting-block .result {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #333646;
}
.list-content .sorting-block .sorting {
    display: flex;
    align-items: center;
}
.list-content .sorting-block .sorting a {
    font-weight: 400;
    font-size: 15px;
    color: #333646;
    text-decoration: none;
    outline: none;
}
.list-content .sorting-block .sorting img {
    margin-left: 5px;
    margin-top: 2px;
    transition: 0.5s;
}
.list-content .property {
    margin-bottom: 34px;
}
.list-content .property .property-item {
    background: #FFFFFF;
    box-shadow: 0 0 14px rgba(51, 54, 70, 0.14);
    border-radius: 12px;
}
.list-content .property .property-card {
    padding: 16px 16px 10px 16px;
    display: flex;
    align-items: flex-start;
    min-height: 183px;
}
.list-content .property .property-card:not(:last-of-type) {
    border-bottom: 1px solid #e8e8ed;
}
.list-content .property .property-card img {
    width: 156px;
    height: 156px;
    object-fit: cover;
}
.list-content .property .property-card .data {
    margin-right: 53px;
    margin-left: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 156px;
    width: 100%;
}
.list-content .property a.title {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #d0d2dd;
    line-height: 150%;
    max-width: 363px;
    width: 100%;
}
.list-content .property a.title span {
    color: #333646;
}
.list-content .property .property-card .geolocation {
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    color: #333646;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.list-content .property .property-card .geolocation img {
    width: 14px;
    height: 14px;
    margin-right: 4px;
}
.list-content .property .humans {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #333646;
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    white-space: nowrap;
}
.list-content .property .humans img {
    width: 13px;
    height: 14px;
    margin-right: 4px;
}
.list-content .property .distance {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #333646;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    white-space: nowrap;
}
.list-content .property .distance img {
    width: 15px;
    height: 15px;
    margin-right: 4px;
}
.list-content .property .additionally {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.list-content .property .property-card .data-block-circle {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dbe3f0;
    border-radius: 50%;
    margin-right: 6px;
    margin-top: 6px;
    cursor: pointer;
}
.list-content .property .property-card .data-block-circle img {
    width: 14px;
    height: 14px;
}
.list-content .property .property-card .data-block-oval {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dbe3f0;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    color: #333646;
    margin-right: 6px;
    border-radius: 100px;
    height: 28px;
    padding: 7px;
    margin-top: 6px;
}
.list-content .property .property-card .data-block-oval img {
    margin-right: 5px;
    width: 14px;
    height: 14px;
}
.list-content .property .property-card .type .title {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #8F98A2;
    white-space: nowrap;
}
.list-content .property .property-card .type td {
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    color: #333646;
    white-space: nowrap;
}
.list-content .property .property-card .type td img {
    margin-right: 7px;
    width: 14px;
    height: 14px;
}
.list-content .property .property-card .type td span {
    font-weight: 700;
}
.list-content .property .property-card .type tbody td:first-of-type {
    width: 145px;
    padding-right: 10px;
}
.list-content .property .property-card .type tbody td:nth-of-type(2) {
    width: 70px;
    text-align: center;
}
.list-content .property .property-card .type tbody td:nth-of-type(3) {
    width: 67px;
    text-align: center;
}
.list-content .property .property-card .type tbody td:last-of-type {
    width: 61px;
}
.list-content .property .property-card .type thead th:first-of-type {
    padding-left: 25px;
}
.list-content .property .property-card .type thead th:last-of-type {
    padding-right: 10px;
}
.list-content .property .property-card .type thead th:nth-of-type(2),
.list-content .property .property-card .type thead th:nth-of-type(3) {
    padding: 0 10px;
}
.list-content .property .property-card .type {
    margin-right: 44px;
}
.list-content .property .property-card .night {
    padding-right: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #e8e8ed;
    height: 156px;
}
.list-content .property .property-card .favorites {
    width: 26px;
    height: 26px;
    border: 1px solid #dbe3f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-content .property .property-card .favorites img {
    width: 12px;
    height: 12px;
}
.list-content .property .property-card .favorites img.favorites-active-icon {
    display: none;
}
.list-content .property .property-card .favorites.active img.favorites-active-icon {
    display: block;
}
.list-content .property .property-card .favorites.active img.favorites-icon {
    display: none;
}
.list-content .property .price {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #333646;
    width: 70px;
    margin-top: 23px;
}
.list-content .property .price span {
    font-weight: 700;
}
.list-content .property .property-card .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12px;
}
.list-content .property .property-card .rating-number {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #333646;
    display: flex;
    align-items: center;
    margin-bottom: 31px;
}
.list-content .property .property-card .rating-number img {
    width: 14px;
    height: 14px;
    margin-right: 3px;
}
.list-content .property .property-card .collapse {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff0db;
}
.list-content .property .property-card .collapse:hover {
    background-color: #ececec;
}
.list-content .property .property-card .collapse svg.plus {
    display: none;
}
.list-content .property .property-card .collapse.active svg.plus {
    display: block;
}
.list-content .property .property-card .collapse.active svg.minus {
    display: none;
}
.list-content .property .property-card .collapse:hover svg.minus rect {
    fill: #545769;
}
.list-content .property .property-card .collapse.active {
    background-color: #f2f2f2;
}
.list-content .communication {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-content .communication .description {
    max-width: 530px;
    width: 100%;
    height: 48px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #545769;
    margin-bottom: 17px;
}
.list-content .communication a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    color: #6BB63F;
    background: #FFFFFF;
    border: 1px solid #6BB63F;
    border-radius: 6px;
    width: 240px;
    height: 48px;
    box-shadow: 0 4px 10px rgba(29, 29, 36, 0.16);
    outline: none;
    text-decoration: none;
}
.list-content .communication a:hover {
    color: #ffffff;
    background: #6BB63F;
    box-shadow: 0 4px 10px rgba(107, 182, 63, 0.16);
}
.list-content .property.not-map .property-card.collapse .type {
    display: none;
}
.list-content .property.not-map .property-card.collapse .favorites {
    display: none;
}
.list-content .property.not-map .property-card.collapse .night {
    height: auto;
}
.list-content .property.not-map .property-card.collapse .rating-number {
    display: none;
}
.list-content .property.not-map .property-card.collapse .night .price {
    margin-top: 0;
}
.list-content .property.not-map .property-card.collapse .property-card-slider {
    display: none;
}
.list-content .property.not-map .property-card.collapse .geolocation {
    display: none;
}
.list-content .property.not-map .property-card.collapse .additionally {
    display: none;
}
.list-content .property.not-map .property-card.collapse .data {
    flex-direction: row;
    margin-left: 0;
    margin-right: 102px;
    align-items: center;
    min-height: auto;
    width: 80.2%;
}
.list-content .property.not-map .property-card.collapse .data > div {
    display: flex;
    align-items: center;
}
.list-content .property.not-map .property-card.collapse {
    align-items: center;
    padding: 18px 16px 18px 16px;
    min-height: 69px;
    transition-duration: 0.5s;
}
.list-content .property.not-map .property-card.collapse .data a.title {
    margin-right: 46px;
    max-width: 556px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
}
.list-content .property.not-map .property-card.collapse .humans {
    margin-bottom: 0;
    margin-right: 30px;
}
.list-content .property.not-map .property-card.collapse .distance {
    margin-bottom: 0;
}
.list-content .property .property-card .favorites.heart-active img.favorites-icon {
    display: none;
}
.list-content .property .property-card .favorites.heart-active img.favorites-active-icon {
    display: block;
}
.list-content .sorting-block .sorting.up img {
    transform: rotate(180deg);
    transition: 0.5s;
}
.list-content .property .container.active {
    max-width: none;
    padding: 0;
}
.list-content .property .container > div {
    display: flex;
}
.list-content .google-map {
    width: 100%;
    max-width: 1163px;
    display: none;
}
.list-content .google-map iframe {
    height: 100%;
    width: 100%;
}
.property-card-slider {
    opacity: 0;
}
.tooltip .tooltip-inner {
    background-color: #333646;
    opacity: 0.94;
    border-radius: 3px;
}
.bs-tooltip-top .arrow:before,
.bs-tooltip-auto[x-placement^=top] .arrow:before {
    border-top-color: #333646;
    opacity: 0.94;
}
.list-content .property.show-map .google-map {
    display: block;
}
.list-content .property.show-map .property-item {
   min-width: 740px;
}
.list-content .property.show-map .property-card .type {
    display: none;
}
.list-content .property.show-map .property-card .data {
    margin-right: 30px;
}
.list-content .property.show-map .property-card.collapse .property-card-slider {
    display: none;
}
.list-content .property.show-map .property-card.collapse .additionally {
    display: none;
}
.list-content .property.show-map .property-card.collapse .geolocation {
    display: none;
}
.list-content .property.show-map .property-card.collapse .data {
    min-height: auto;
    margin-left: 0;
    margin-right: 57px;
    flex-direction: column;
    align-items: end;
    width: auto;
}
.list-content .property.show-map .property-card.collapse .data > div {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.list-content .property.show-map .property-card.collapse .humans {
    margin-bottom: 0;
    margin-right: 30px;
}
.list-content .property.show-map .property-card.collapse .distance {
    margin-bottom: 0;
}
.list-content .property.show-map .property-card.collapse .data a.title {
    max-width: 527px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 0;
}
.list-content .property.show-map .property-card.collapse .favorites {
    display: none;
}
.list-content .property.show-map .property-card.collapse .night .price {
    margin-top: 0;
}
.list-content .property.show-map .property-card.collapse .night {
    height: auto;
}
.list-content .property.show-map .property-card.collapse .rating-number {
    display: none;
}
.select2-container--default .select2-selection--single {
    height: 54px;
    border-top: 4px solid #e7e7e7;
    border-bottom: 4px solid #e7e7e7;
    border-right: 4px solid #e7e7e7;
    border-left: 0;
    outline: none;
    width: 116px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #333646;
    line-height: 46px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #333646;
    line-height: 46px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    width: 116px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: transparent;
    border-style: solid;
    border-width: 0;
    position: relative;
    margin: 0;
    left: 0;
    top: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
    position: absolute;
    content: url("/svg/i-arrow-dropdown-input.svg");
    top: 0;
    left: 0;
    line-height: 0;
    width: 10px;
    height: 10px;
}
.select2-container {
    width: 116px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0;
}
.select2-search--dropdown {
    display: none;
}
.select2-container--open .select2-dropdown--below {
    border: 0;
    width: 114px;
    background: #FFFFFF;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}
.select2-container--open .select2-dropdown {
    top: 3px;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff !important;
    color: #333646;
}
.select2-container--default .select2-results__option[aria-selected=true]:hover {
    background-color: #f1f1f1 !important;
    color: #333646;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f1f1f1;
    color: #333646;
}
.select2-container--default .select2-results>.select2-results__options {
    padding: 13px 8px;
}
.select2-results__option {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #333646;
}
.property-card-slider {
    width: 156px;
    height: 156px;
    border-radius: 4px;
    margin-bottom: 0 !important;
    position: relative;
}
.property-card-slider .slick-slide {
    outline: none;
}
.slick-dots {
    bottom: 10px;
}
.slick-dots li {
    width: 6px;
    height: 6px;
    margin: 0 2.5px;
}
.slick-dots li button {
    width: 6px;
    height: 6px;
    padding: 0;
}
.slick-dots li button:before {
    font-size: 6px;
    line-height: 6px;
    width: 6px;
    height: 6px;
    opacity: .4;
    color: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14);
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #ffffff;
}
.list-content .collapse-block a.title {
    margin-right: 46px;
    max-width: 556px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1210px;
    }
}
