@import 'resources/sass/components/vendor/bootstrap';
@import "resources/sass/general-style";
@import "resources/sass/main-header";
@import "resources/sass/footer";
@import "resources/sass/components/search-form";
@import "resources/sass/components/fonts/inter";
@import "resources/sass/components/fonts/fira-sans";
@import "resources/sass/components/login-modal";
@import "components/select2/select2-min";



$background: #3b8b3e;
$background2: #6BB63F;
$border-color: #6BB63F;
$color: #3B8B3E;
$color2: #545769;
$color3: #333646;
$color4: #6BB63F;


footer {
    opacity: 1;
}
.plans-section {
    .plans-content {
        padding: 100px 0;
    }
    .plans-container {
        width: 100%;
        max-width: 1240px;
        margin: auto;
        padding: 0 30px;
    }
    h1 {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 28px;
        line-height: 130%;
        text-align: center;
        color: $color3;
    }
    .subtitle {
        margin: 0 auto 34px;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: $color2;
        width: 100%;
        max-width: 728px;
    }
    .questions-block {
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            background: #FFFFFF;
            box-shadow: 0 4px 30px rgba(51, 54, 70, 0.16);
            border-radius: 14px;
            z-index: -1;
            width: 100%;
            max-width: 1060px;
            height: 110px;
        }
        .title {
            margin-bottom: 41px;
            font-weight: 600;
            font-size: 28px;
            line-height: 130%;
            text-align: center;
            color: $color3;
        }
        background: #FCFCFF;
        box-shadow: 0 0 14px rgba(51, 54, 70, 0.14);
        border-radius: 12px;
        position: relative;
        width: 100%;
        max-width: 1120px;
        margin: auto;
    }
    .questions-content {
        padding: 100px 170px;
    }
    .questions-item {
        &:first-of-type {
            border-top: 0;
            padding-top: 0;
        }
        padding-bottom: 20px;
        padding-top: 20px;
        border-bottom: 1px solid #E8E8ED;
    }
    .questions-item.show {
        .collapse-content {
            display: block;
        }
        .plus-minus {
            &::before {
                transform: translate(-50%,-50%) rotate(90deg);
                background: #df9d3c;
            }
            &::after {
                background: #df9d3c;
            }
            background: #fff0db;
            border: 1px solid #fff0db;
        }
    }
    .collapse-button {
        &:hover {
            .plus-minus {
                &::after {
                    background: $background;
                }
                &::before {
                    background: $background;
                }
                background-color: transparent;
                border-color: #eeeeee;
            }
            .point {
                background-color: $background;
            }
            color: $color;
        }
        .point {
            min-width: 6px;
            max-width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #333646;
            transition: all 0.2s;
            margin-right: 12px;
            margin-top: 11px;
        }
        .plus-minus {
            &::before {
                content: "";
                position: absolute;
                width: 2px;
                height: 12px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: #545769;
                border-radius: 1px;
                transition: all 0.2s;
            }
            &::after {
                content: "";
                position: absolute;
                width: 2px;
                height: 12px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(90deg);
                background-color: #545769;
                border-radius: 1px;
                transition: all 0.2s;
            }
            min-width: 30px;
            max-width: 30px;
            height: 30px;
            border: 1px solid #f2f2f2;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            background-color: #f2f2f2;
            transition: all 0.2s;
            margin-left: 15px;
        }
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: $color3;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        transition: all 0.2s;
    }
    .collapse-content {
        p {
            &:first-of-type {
                padding-top: 9px;
                margin-bottom: 0;
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: $color2;
            margin-top: 1rem;
        }
        padding-left: 18px;
    }
    .questions-block-item {
        margin-bottom: 39px;
    }
    .communication-manager {
        a.communication-manager {
            &:hover {
                color: #ffffff;
                background-color: $background2;
            }
            background: #FFFFFF;
            border: 1px solid $border-color;
            box-sizing: border-box;
            border-radius: 6px;
            width: 100%;
            max-width: 240px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-weight: 500;
            font-size: 15px;
            line-height: 100%;
            color: $color;
            transition: all 0.2s;
            margin-top: 17px;
            position: relative;
            box-shadow: 0 4px 10px rgba(29, 29, 36, 0.16);
        }
        margin: auto;
        text-align: center;
        width: 100%;
        max-width: 600px;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: $color2;
    }
    .price-block {
        display: flex;
        align-items: flex-start;
        margin-bottom: 100px;
    }
    .price-block-item {
        &:first-of-type {
            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                right: 0;
                background: #CFCFD4;
            }
        }
        &:last-of-type {
            &::after {
                content: none;
            }
            border-right: 0;
        }
        .price-block-head {
            padding: 33px 30px 17px 30px;
            margin-bottom: 17px;
        }
        .price-block-body {
            padding: 0 30px 36px 30px;
        }
        .name-tariff {
            padding: 4px 10px;
            font-weight: 500;
            font-size: 11px;
            line-height: 130%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #FFFFFF;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
            border-radius: 100px;
            margin-bottom: 22px;
            display: inline-block;
            transition: all 0.2s;
            background: #9FA0A4;
        }
        .price-item {
            display: flex;
            align-items: flex-end;
            margin-bottom: 14px;
        }
        .max-price {
            span {
                position: absolute;
                top: -6px;
                right: -10px;
                font-size: 18px;
                line-height: 130%;
            }
            font-weight: 600;
            font-size: 38px;
            line-height: 85%;
            letter-spacing: -0.04em;
            color: $color3;
            position: relative;
            margin-right: 5px;
        }
        .month {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: $color3;
        }
        .description {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: $color2;
        }
        .advantages {
            .not-available {
                color: #B5B7C1;
            }
            svg {
                margin-right: 8px;
                min-width: 18px;
                max-width: 18px;
                height: 18px;
            }
            li {
                &:last-of-type {
                    margin-bottom: 0;
                }
                font-weight: 400;
                font-size: 15px;
                line-height: 140%;
                color: $color3;
                margin-bottom: 14px;
                display: flex;
                align-items: center;
            }
            padding: 0;
            margin: 0;
            list-style: none;
        }
        a.choose-plan {
            &:hover {
                background: $background2;
                border: 1px solid $border-color;
                box-shadow: 0 4px 10px rgba(107, 182, 63, 0.16);
                border-radius: 6px;
                color: #F8F9FB;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
            }
            background: #F8F9FB;
            border: 1px solid $border-color;
            border-radius: 6px;
            box-shadow: 0 4px 10px rgba(29, 29, 36, 0.16);
            font-weight: 500;
            font-size: 15px;
            line-height: 100%;
            color: $color;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            margin-bottom: 12px;
            width: 100%;
            height: 48px;
            text-decoration: none;
            transition: all 0.2s;
        }
        .footnote {
            font-weight: 400;
            font-size: 13px;
            line-height: 130%;
            color: $color2;
        }
        width: 100%;
        max-width: 295px;
        border-radius: 12px;
        position: relative;
    }
    .price-block-item.popular {
        .advantages {
            svg.active-svg {
                circle {
                    fill: #6BB63F;
                }
            }
        }
        a.choose-plan {
            background: $background2;
            box-shadow: 0 4px 10px rgba(107, 182, 63, 0.4);
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
            color: #FFFFFF;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border: 4px solid $border-color;
            border-radius: 12px;
            pointer-events: none;
        }
        &::after {
           content: none;
        }
        &:hover {
            a.choose-plan {
                background: $background2;
                box-shadow: 0 4px 10px rgba(107, 182, 63, 0.4);
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
                color: #FFFFFF;
            }
        }
        .price-block-head {
            background: #E7F5F0;
            border-radius: 12px 12px 0 0;
        }
        .name-tariff {
            background: $background2;
        }
        background: #FFFFFF;
    }
    position: relative;
}
.plans-section .collapse-button[aria-expanded="true"] .point {
    background: #545769;
}
.plans-section .collapse-button[aria-expanded="true"]:hover {
    color: $color2;
}
.plans-section .collapse-button[aria-expanded="true"] .plus-minus {
    background: #fff0db;
    border: 1px solid #fff0db;
}
.plans-section .collapse-button[aria-expanded="true"] .plus-minus:before {
    transform: translate(-50%, -50%) rotate(90deg);
    background: #df9d3c;
}
.plans-section .collapse-button[aria-expanded="true"] .plus-minus:after {
    background: #df9d3c;
}
.plans-section .collapse-button[aria-expanded="true"]:hover .plus-minus:before {
    transform: translate(-50%, -50%) rotate(90deg);
    background: #df9d3c;
}
.plans-section .collapse-button[aria-expanded="true"]:hover .plus-minus:after {
    background: #df9d3c;
}


.plans-section.city-section {
    .price-block-item {
        &::after {
            background: #FFFFFF;
            box-shadow: 0 4px 30px rgba(51, 54, 70, 0.16);
            border-radius: 14px;
            width: calc(100% - 40px);
            height: 110px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            position: absolute;
            content: "";
            top: auto;
            right: auto;
            z-index: -1;
        }
        &::before {
            position: absolute;
            width: 100%;
            height: 100%;
            border: 2px solid $border-color;
            border-radius: 12px;
            pointer-events: none;
            transition: all 0.2s;
        }
        &:nth-of-type(4n) {
            margin-right: 0;
        }
        .max-price {
            font-size: 24px;
            margin-right: 0;
            line-height: 130%;
            transition: all 0.2s;
        }
        .price-block-head {
            margin-bottom: 0;
            padding: 20px;
            height: 100%;
        }
        &:hover {
            &::before  {
                border-color: $border-color;
                content: "";
            }
            .name-tariff {
                background: $background2;
            }
            .max-price {
                color: $color;
            }
        }
        margin-bottom: 25px;
        margin-right: 2.1%;
        text-decoration: none;
        width: 23.4%;
        min-height: 230px;
        background: #FFFFFF;
        box-shadow: 0 0 14px rgba(51, 54, 70, 0.14);
        border-radius: 12px;
    }
    .price-block {
        flex-wrap: wrap;
        margin-bottom: 50px;
        align-items: inherit;
        position: relative;
        z-index: 10;
    }
    a.plus-city {
        &::before {
            background: #FFFFFF;
            box-shadow: 0 4px 30px rgb(51 54 70 / 16%);
            border-radius: 14px;
            width: calc(100% - 40px);
            height: 110px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            position: absolute;
            content: "";
            top: auto;
            right: auto;
            z-index: -1;
        }
        &::after {
            position: absolute;
            width: 100%;
            height: 100%;
            border: 2px solid $border-color;
            border-radius: 12px;
            pointer-events: none;
            transition: all 0.2s;
        }
        &:hover {
            &:after {
                content: "";
            }
            span.add {
                color: $color4;
            }
            svg {
                rect {
                    fill: $color4;
                }
            }
            span.plus {
                border-color: $border-color;
            }
            .max-price {
                color: $color;
            }
            .name-tariff {
                background: $background2;
            }
        }
        &:last-of-type {
            margin-right: 0;
        }
        span.plus {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            border: 1px solid #c5c5c7;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s;
        }
        span.add {
            color: $color2;
            width: 100%;
            text-align: center;
            font-size: 16px;
            line-height: 160%;
            font-weight: 400;
            transition: all 0.4s;
            margin-top: 14px;
        }
        width: 23.4%;
        height: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        text-decoration: none;
        position: relative;
        margin-right: 2.1%;
        border-radius: 12px;
        transition: all 0.2s;
        background: #FFFFFF;
        box-shadow: 0 0 14px rgba(51, 54, 70, 0.14);
    }
    .background-image-block {
        margin-bottom: 0;
    }
    h1.list-title {
        font-weight: 600;
        font-size: 28px;
        line-height: 130%;
        text-align: center;
        color: #ffffff;
        margin-bottom: 32px;
        z-index: 1;
    }
    .city-content {
        * {
            opacity: 1;
        }
        .down-subtitle {
            margin-bottom: 100px;
        }
        padding-bottom: 1px;
    }
    .questions-block-item {
        p {
            a {
                color: #545769;
            }
        }
        margin-bottom: 0;
    }
    .questions-block {
        .questions-block-item {
            .questions-item {
                &:last-of-type {
                    border-bottom: 0;
                }
            }
        }
        &::after {
            content: none;
        }
        margin-bottom: 100px;
        max-width: 1180px;
        position: relative;
        z-index: 100;
    }
    .shadow-block {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        height: 110px;
        width: 100%;
        max-width: 1060px;
        background: #FFFFFF;
        box-shadow: 0 4px 30px rgba(51, 54, 70, 0.16);
        border-radius: 14px;
    }
}



@media (max-width: 991px) {
    .plans-section.city-section {
        .city-content {
            .down-subtitle {
                margin-bottom: 60px;
            }
        }
        a.plus-city {
            height: 207px;
        }
        .price-block-item {
            &:nth-of-type(4n) {
                margin-right: 2.1%;
            }
            &:nth-of-type(3n) {
                margin-right: 0;
            }
            max-width: none;
            width: 31.9% !important;
            min-height: auto;
        }
    }
    .plans-section {
        h1 {
            font-size: 24px;
            line-height: 120%;
        }

        .subtitle {
            font-size: 14px;
            line-height: 130%;
            max-width: 500px;
            margin: 0 auto 28px;
        }

        .plans-content {
            padding: 34px 0 40px 0;
        }

        .questions-content {
            padding: 40px 16px;
        }

        .questions-block {
            .title {
                font-size: 24px;
                line-height: 120%;
            }

            border-radius: 0;
        }

        .questions-block-item {
            margin-bottom: 29px;
        }

        .price-block {
            margin-bottom: 60px;
        }

        .plans-container {
            padding: 0 16px;
        }

        .price-block-item {
            .advantages {
                li {
                    align-items: flex-start;
                }
            }

            .name-tariff {
                margin-bottom: 15px;
            }

            .price-item {
                margin-bottom: 10px;
            }

            .description {
                font-weight: 400;
                font-size: 15px;
            }

            .price-block-head {
                padding: 26px 14px 13px 14px;
                margin-bottom: 13px;
            }

            .price-block-body {
                padding: 0 14px 36px 14px;
            }

            a.choose-plan {
                margin-top: 26px;
            }

            .max-price {
                margin-right: 7px;
            }
        }
        &::after {
            content: none;
        }
    }
}
@media (max-width: 750px) {
    .plans-section {
        .price-block {
            flex-wrap: wrap;
        }
    }
}
@media (max-width: 680px) {
    .plans-section.city-section {
        .city-section {
            .down-subtitle {
                margin-bottom: 40px;
                padding: 0 16px;
            }
        }
        .price-block {
            margin-bottom: 15px;
        }
        .price-block-item {
            &:nth-of-type(4n) {
                margin-right: 0;
            }
            width: 100% !important;
            margin-right: 0;
        }
        a.plus-city {
            &:last-of-type {
                margin-top: 25px;
            }
            span.add {
                top: 15px;
            }
            height: 154px;
            margin-bottom: 0;
        }
    }
}
@media (max-width: 640px) {
    .plans-section {
        .price-block-item {
            .price-block-head {
                padding: 26px 20px 13px 20px;
            }
            .price-block-body {
                padding: 0 20px 26px 20px;
            }
            width: 50%;
            max-width: none;
        }
    }
}
@media (max-width: 575px) {
    .plans-section {
        .plans-container {
            padding: 0 20px;
        }
        h1 {
            font-size: 22px;
            margin-bottom: 18px;
        }
        .subtitle {
            margin: 0 auto 38px;
            line-height: 140%;
        }
        .questions-content {
            padding: 34px 16px 40px 16px;
        }
        .questions-block {
            .title {
                font-size: 22px;
                margin-bottom: 37px;
            }
            &::after {
                max-width: 420px;
            }
        }
        .collapse-button {
            font-size: 17px;
        }
        .collapse-content {
            p {
                font-size: 15px;
            }
        }
        .questions-block-item {
            margin-bottom: 24px;
        }
        .communication-manager {
            a.communication-manager {
                max-width: none;
            }
            max-width: none;
        }
        .price-block {
            margin-bottom: 40px;
        }
    }
    .plans-section.city-section {
        .questions-block {
            margin-bottom: 40px;
        }
        .city-content {
            .down-subtitle {
                margin-bottom: 40px;
                margin-top: 40px;
                padding: 0 15px;
            }
        }
    }
}
@media (max-width: 440px) {
    .plans-section {
        .price-block-item {
            &:first-of-type {
                &::after {
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    top: auto;
                    right: auto;
                    left: 0;
                }
            }
            &:last-of-type {
                &::after {
                    content: none !important;
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    top: auto;
                    right: auto;
                    left: 0;
                    background: #CFCFD4;
                }
            }
            .price-block-head {
                padding: 0 26px 13px 26px;
            }
            &:first-of-type {
                margin-bottom: 26px;
            }
            .description {
                line-height: 140%;
            }
            width: 100%;
        }
        .price-block-item.popular {
            .price-block-head {
                padding-top: 22px;
            }
            margin-bottom: 26px;
        }
        .plans-container {
            padding: 0 16px;
        }
    }
}
@media (max-width: 320px) {
    .plans-section {
        .subtitle {
            margin: 0 auto 48px;
        }
        .plans-content {
            padding: 40px 0;
        }
        .questions-block {
            &::after {
                max-width: 260px;
            }
        }
    }
}
