/* Dashboard */
.card-statistics {
  .highlight-icon {
    font-size: 3.125rem;
  }

  .highlight-icon-small {
    font-size: 2.5rem;
  }

  p {
    margin-bottom: 0;
  }
}
.head-logo .logo-mobile {
    display: none;
}
.head-logo {
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .head-logo .logo-desctope {
        display: none;
    }
    .head-logo .logo-mobile {
        display: block;
    }
    .navbar .navbar-brand-wrapper {
        width: 185px;
    }
    .navbar .navbar-menu-wrapper {
        width: calc(100% - 185px);
    }
}
