/* Dashboard */
.card-statistics {
  .highlight-icon {
    font-size: 3.125rem;
  }

  .highlight-icon-small {
    font-size: 2.5rem;
  }

  p {
    margin-bottom: 0;
  }
}
.head-logo .logo-mobile {
    display: none;
}
.head-logo {
    display: flex;
    align-items: center;
}
.languages-block {
    border: 1px solid #ffffff !important;
}
.languages-block .dropdown-toggle {
    background-color: #04befe !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
    text-transform: uppercase;
}
.languages-block ul.dropdown-menu a {
    text-transform: uppercase;
}
.languages-block ul.dropdown-menu {
    left: auto;
    right: 0;
    min-width: 75px;
}
a.all-domains {
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
    transition: all 0.2s;
    color: #ffffff;
    text-decoration: none;
    padding: 0.56rem 1.375rem;
    border-radius: 0.1875rem;
    margin-bottom: 20px;
    display: inline-block;
}
a.all-domains:hover {
    transition: all 0.2s;
    background-color: #ffffff;
    color: #17a2b8;
}
.checkbox-block .bv-no-focus-ring {
    display: flex;
    align-items: center;
}
.checkbox-block .custom-checkbox {
    margin-right: 25px;
}
a.back-link {
    background-color: #17a2b8;
    border: 1px solid #17a2b8;
    transition: all 0.2s;
    color: #ffffff;
    text-decoration: none;
    border-radius: 0.1875rem;
    height: 33px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a.back-link:hover {
    transition: all 0.2s;
    background-color: #0e8b9e;
}
.form-group label {
    line-height: inherit !important;
}
.custom-control-label {
    cursor: pointer;
}
.page-body-wrapper .comfort-block-item {
    display: flex;
    align-items: center;
}
.page-body-wrapper .comfort-block-item label {
    margin-bottom: 0;
    margin-left: 15px;
    cursor: pointer;
}
.page-body-wrapper .comfort-block-item img {
    margin-left: 15px;
}
.page-body-wrapper .comfort-block-item input[type="checkbox"] {
    cursor: pointer;
}
.login {
    form.pt-5 {
        .form-group {
            .mdi {
                position: absolute;
                bottom: 3px;
                left: 10px;
            }
            .form-control {
                padding-left: 2rem;
            }
            position: relative;
        }
    }
}


@media (max-width: 991px) {
    .head-logo .logo-desctope {
        display: none;
    }
    .head-logo .logo-mobile {
        display: block;
    }
    .navbar .navbar-brand-wrapper {
        width: auto;
        min-width: 255px;
    }
    .navbar .navbar-menu-wrapper {
        width: auto;
    }
}
