.object-description-desctope {
    width: 100%;
    max-width: 882px;
    background: #FFFFFF;
    box-shadow: 0 0 14px rgba(51, 54, 70, 0.14);
    border-radius: 12px;
    padding: 24px 16px;
}
.object-description-desctope .nav-tabs {
    border-bottom: 1px solid #e3e4e5;
}
.object-description-desctope .nav-tabs .nav-link {
    background-color: #fff;
    border: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #545769;
    padding: 0 0 17px 0;
    margin-left: 30px;
    margin-right: 30px;
}
.object-description-desctope .nav-tabs .nav-link span {
    font-weight: 400;
    font-size: 14px;
    color: #8F98A2;
    padding-left: 3px;
}
.object-description-desctope .nav-tabs .nav-link.active {
    color: #333646;
    font-weight: 500;
    border-bottom: 2px solid #6bb63f;
}
.object-description-desctope .nav-tabs .nav-item :first-of-type .nav-link {
    padding-left: 0;
    margin-left: 0;
}
.object-description-desctope .description-content {
    padding-top: 20px;
}
.object-description-desctope .questions-content {
    margin-top: 20px;
}
.empty-block.active {
    width: 100%;
    margin-bottom: 8px;
    height: 331px;
}
.object-description .description-content {
    padding-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #545769;
}
.object-description .description-content a.more-details {
    margin-top: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #5a9e32;
    text-decoration: none;
}
.object-description .description-content a.more-details img {
    margin-left: 3px;
    transition-duration: 0.3s;
}
.object-description .description-content a.more-details[aria-expanded="true"] img {
    transform: rotate(180deg);
    transition-duration: 0.3s;
    padding-bottom: 2px;
}
.object-description .collapse-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #545769;
}
.object-description .questions-block:not(:last-of-type) {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e3e4e6;
}
.object-description .questions {
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    color: #333646;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.object-description .questions .collapse-button {
    min-width: 30px;
    height: 30px;
    border: 1px solid #c5c5c7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}
.object-description .questions .collapse-button:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 12px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #545769;
    border-radius: 1px;
    transition: all 0.2s;
}
.object-description .questions .collapse-button:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 12px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    background-color: #545769;
    border-radius: 1px;
    transition-duration: 0.4s;
}
.object-description .questions[aria-expanded="true"] .collapse-button {
    border-color: #e3e4e5;
}
.object-description .questions[aria-expanded="true"] .collapse-button:before {
    transform: translate(-50%, -50%) rotate(90deg);
    background-color: #b5b7c1;
}
.object-description .questions[aria-expanded="true"] .collapse-button:after {
    background-color: #b5b7c1;
}
.object-description .answer {
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    color: #545769;
    padding-top: 3px;
    padding-left: 41px;
    width: 100%;
}
.object-description .reviews-content .top-block {
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.object-description .reviews-content .top-block-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.object-description .reviews-content .stars {
    display: flex;
    align-items: center;
    margin-right: 3px;
}
.object-description .reviews-content .stars svg {
    margin-right: 6px;
}
.object-description .reviews-content .overall-rating {
    display: flex;
    flex-direction: column;
}
.object-description .reviews-content .overall-rating span {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333646;
}
.object-description .reviews-content .top {
    display: flex;
    align-items: center;
}
.object-description .reviews-content .bottom {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #9b9da6;
}
.object-description .reviews-content a.give-feedback {
    width: 186px;
    height: 44px;
    border: 1px solid #6bb63f;
    color: #3b8b3e;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    text-decoration: none;
}
.object-description .reviews-content a.give-feedback:hover {
    transition-duration: 0.4s;
    color: #fff;
    background-color: #6bb63f;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
}
.object-description .reviews-content a.give-feedback.hide {
    display: none;
}
.object-description .reviews-block-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 22px;
    border-bottom: 1px solid #e3e4e6;
}
.object-description .reviews-block-item a.full {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #5a9e32;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
}
.object-description .reviews-block-item a.full img {
    transition-duration: 0.4s;
}
.object-description .reviews-block-item a.full.active img {
    transform: rotate(180deg);
    transition-duration: 0.4s;
    padding-bottom: 2px;
}
.object-description .reviews-head {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.object-description .reviews-head img.avatar {
    width: 34px;
    height: 34px;
    object-fit: cover;
    margin-right: 10px;
}
.object-description .reviews-head .customer-data {
    display: flex;
    flex-direction: column;
}
.object-description .reviews-head .name {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #333646;
}
.object-description .reviews-head .entity {
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    color: #333646;
}
.object-description .set-rating {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.object-description .set-rating .stars-block {
    display: flex;
    align-items: center;
    margin-right: 2px;
}
.object-description .set-rating .stars-block svg {
    margin-right: 2px;
}
.object-description .set-rating span {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #545769;
}
.object-description .set-rating .stars-item {
    display: flex;
    align-items: center;
    margin-right: 16px;
}
.object-description .set-rating .title {
    font-weight: 500;
    font-size: 13px;
    line-height: 160%;
    color: #333646;
}
.object-description .reviews-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    color: #545769;
    width: 100%;
    max-height: 63px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    transition: all 1s ease;
}
.object-description .reviews-text.full {
    max-height: 1000px;
    display: block;
    transition: all 0.2s;
}
.object-description .map-content {
    margin-top: 20px;
    width: 100%;
    height: 472px;
}
.object-description .pagination-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.object-description .pagination-block ul.pagination-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.object-description .pagination-block ul.pagination-list li {
    margin-right: 32px;
}
.object-description .pagination-block ul.pagination-list li:first-of-type {
    margin-right: 52px;
    margin-left: 0;
}
.object-description .pagination-block ul.pagination-list li:first-of-type a {
    border: 1px solid #d6dce9;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.object-description .pagination-block ul.pagination-list li:last-of-type {
    margin-left: 20px;
    margin-right: 0;
}
.object-description .pagination-block ul.pagination-list li:last-of-type a {
    border: 1px solid #d6dce9;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.object-description .pagination-block ul.pagination-list li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #545769;
    text-decoration: none;
    transition-duration: 0.4s;
}
.object-description .pagination-block ul.pagination-list li a.active {
    color: #fff;
    position: relative;
    z-index: 10;
}
.object-description .pagination-block ul.pagination-list li a.active:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #6bb63f;
    z-index: -1;
}
.object-description .pagination-block ul.pagination-list li.prev a:hover {
    transition-duration: 0.4s;
    background-color: #6bb63f;
    border-color: #6bb63f;
}
.object-description .pagination-block ul.pagination-list li.prev svg {
    transition-duration: 0.4s;
}
.object-description .pagination-block ul.pagination-list li.prev svg path {
    fill: #fff;
    transition-duration: 0.4s;
}
.object-description .pagination-block ul.pagination-list li.next a:hover {
    transition-duration: 0.4s;
    background-color: #6bb63f;
    border-color: #6bb63f;
}
.object-description .pagination-block ul.pagination-list li.next svg {
    transition-duration: 0.4s;
}
.object-description .pagination-block ul.pagination-list li.next svg path {
    fill: #fff;
    transition-duration: 0.4s;
}
.questions-form {
    display: flex;
    align-items: center;
}
.object-description .questions-block:first-of-type {
    margin-top: 30px;
}
.questions-form input[type="text"] {
    background: #fff;
    border: 1px solid #e3e4e5;
    border-radius: 6px;
    height: 44px;
    width: 100%;
    max-width: 708px;
    margin-right: 14px;
    padding: 0 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #545769;
    outline: none;
}
.questions-form input[type="text"]::-webkit-input-placeholder {
    color: #8f98a2;
}
.questions-form input[type="text"]::-moz-placeholder {
    color: #8f98a2;
}
.questions-form input[type="text"]:-moz-placeholder {
    color: #8f98a2;
}
.questions-form input[type="text"]:-ms-input-placeholder {
    color: #8f98a2;
}
.questions-form input[type="submit"] {
    width: 128px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: #6bb63f;
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    color: #fff;
    text-decoration: none;
    outline: none;
    transition-duration: 0.4s;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
}
.questions-form input[type="submit"]:hover {
    background-color: #60a338;
    transition-duration: 0.4s;
}
.reviews-form {
    width: 100%;
    height: 331px;
    background: #f7f8fa;
    border: 1px solid #edeef0;
    border-radius: 12px;
    padding: 22px 16px;
}
.reviews-form .rate {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.reviews-form .rate .stars {
    display: flex;
    align-items: center;
}
.reviews-form .rate .stars img {
    margin-right: 6px;
    cursor: pointer;
    width: 18px;
    height: 18px;
}
.reviews-form .rate .title {
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    color: #333646;
    margin-right: 12px;
}
.reviews-form .top-form {
    display: flex;
    justify-content: space-between;
}
.reviews-form .top-form input {
    width: 100%;
    max-width: 402px;
}
.reviews-form input:first-of-type {
    margin-right: 14px;
}
.reviews-form input::-webkit-input-placeholder {
    color: #8f98a2;
}
.reviews-form input::-moz-placeholder {
    color: #8f98a2;
}
.reviews-form input:-moz-placeholder {
    color: #8f98a2;
}
.reviews-form input:-ms-input-placeholder {
    color: #8f98a2;
}
.reviews-form input[type="text"] {
    background: #fff;
    border: 1px solid #e3e4e5;
    border-radius: 6px;
    width: 100%;
    height: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #545769;
    outline: none;
    padding: 0 16px;
    margin-bottom: 14px;
}
.reviews-form textarea {
    width: 100%;
    background: #fff;
    border: 1px solid #e3e4e5;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #545769;
    outline: none;
    height: 68px;
    padding: 19px 16px;
    margin-bottom: 14px;
}
.reviews-form textarea::-webkit-input-placeholder {
    color: #8f98a2;
}
.reviews-form textarea::-moz-placeholder {
    color: #8f98a2;
}
.reviews-form textarea:-moz-placeholder {
    color: #8f98a2;
}
.reviews-form textarea:-ms-input-placeholder {
    color: #8f98a2;
}
.reviews-form input[type="submit"] {
    background-color: #6bb63f;
    color: #fff;
    border-radius: 6px;
    width: 100%;
    max-width: 402px;
    height: 44px;
    outline: none;
    transition-duration: 0.4s;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
    border: 0;
}
.reviews-form input[type="submit"]:hover {
    background-color: #60a338;
    transition-duration: 0.4s;
}
.empty-block {
    height: 0;
    position: relative;
    overflow: hidden;
    transition: all 0.2s;
}
.empty-block .close-form {
    position: absolute;
    top: 14px;
    right: 17px;
    cursor: pointer;
}
.empty-block .close-form img {
    display: block;
}
.mobile-object-description {
    background: #fff;
    box-shadow: 0 0 14px rgba(51, 54, 70, 0.14);
    display: none;
}
.mobile-object-description .head-collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #545769;
    cursor: pointer;
    padding: 0 16px;
    height: 54px;
}
.mobile-object-description .head-collapse span {
    font-weight: 400;
    font-size: 14px;
    color: #8f98a2;
}
.mobile-object-description .link-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 16px;
}
.mobile-object-description .link-container a.give-feedback {
    width: 186px;
    height: 44px;
    border: 1px solid #6bb63f;
    color: #3b8b3e;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    text-decoration: none;
    margin-bottom: 16px;
}
.mobile-object-description .link-container a.give-feedback:hover {
    transition-duration: 0.4s;
    color: #fff;
    background-color: #6bb63f;
    text-shadow: 0 1px 0 #000;
}
.mobile-object-description .paddings-block {
    border-bottom: 1px solid #edeef0;
}
.mobile-object-description .decompose-button {
    width: 17px;
    height: 17px;
    position: relative;
}
.mobile-object-description .decompose-button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333646;
    border-radius: 1px;
    width: 2px;
    height: 10px;
    transition: all 0.2s;
}
.mobile-object-description .decompose-button:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    background: #333646;
    border-radius: 1px;
    width: 2px;
    height: 10px;
}
.mobile-object-description .description-content {
    padding-top: 12px;
}
.mobile-object-description .head-collapse[aria-expanded="true"] .decompose-button:before {
    transform: translate(-50%, -50%) rotate(90deg);
}
.mobile-object-description .mobile-questions-content .questions-form {
    padding: 0 16px 16px 16px;
    flex-direction: column;
    margin-bottom: 0;
    align-items: flex-start;
}
.mobile-object-description .mobile-questions-content .questions-form input[type="text"] {
    margin-right: 0;
    margin-bottom: 16px;
}
.mobile-object-description .mobile-questions-content .questions-form a.submit {
    width: 100%;
}
.mobile-object-description .mobile-questions-content .questions-block:not(:last-of-type) {
    padding-bottom: 13px;
    margin-bottom: 13px;
    border-bottom: 1px solid #e3e4e6;
}
.mobile-object-description .mobile-questions-content .questions-block:first-of-type {
    margin-top: 14px;
}
.mobile-object-description .mobile-questions-content .questions-block:last-of-type {
    border-bottom: 0;
    margin-bottom: 13px;
}
.mobile-object-description .mobile-questions-content .questions {
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    color: #333646;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.mobile-object-description .mobile-questions-content .questions .collapse-button {
    min-width: 30px;
    height: 30px;
    border: 1px solid #c5c5c7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}
.mobile-object-description .mobile-questions-content .questions .collapse-button:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 12px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #545769;
    border-radius: 1px;
    transition: all 0.2s;
}
.mobile-object-description .mobile-questions-content .questions .collapse-button:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 12px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    background-color: #545769;
    border-radius: 1px;
    transition-duration: 0.4s;
}
.mobile-object-description .mobile-questions-content .questions[aria-expanded=true] .collapse-button:before {
    transform: translate(-50%, -50%) rotate(90deg);
    background-color: #b5b7c1;
}
.mobile-object-description .mobile-questions-content .questions[aria-expanded=true] .collapse-button:after {
    background-color: #b5b7c1;
}
.mobile-object-description .mobile-questions-content .questions[aria-expanded=true] .collapse-button {
    border-color: #e3e4e5;
}
.mobile-object-description .mobile-questions-content .answer {
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    color: #545769;
    padding-top: 3px;
    padding-left: 41px;
    width: 100%;
}
.mobile-object-description .mobile-questions-content .questions-received {
    padding: 0 16px;
}


@media (max-width: 1211px) {
    .object-description-desctope {
        max-width: none;
        border-radius: 0;
        padding: 30px 16px;
    }
}
@media (max-width: 991px) {
    .single-content {
        .object-description {
            .map-content {
                #map-mobile {
                    height: 100%;
                }
                height: 409px !important;
            }
            .map-content.mobile-map-content {
                margin-top: 0;
            }
        }
    }
}
@media (max-width: 575px) {
    .single-content .reviews-content a.give-feedback.hide {
        height: 0;
        overflow: hidden;
        border: 0;
        margin-bottom: 0;
    }
    .object-description-desctope {
        display: none;
    }
    .questions-form input[type="text"] {
        max-width: none;
    }
    .object-description .reviews-content .overall-rating {
        flex-direction: row;
        align-items: center;
        padding: 20px 16px;
    }
    .object-description .reviews-content .stars {
        margin-right: 4px;
    }
    .object-description .reviews-content .stars svg {
        margin-right: 2px;
        width: 12px;
        height: 12px;
    }
    .object-description .bottom {
        margin-top: 0;
        margin-left: 8px;
    }
    .object-description a.give-feedback {
        width: 100%;
    }
    .object-description a.give-feedback.hide {
        height: 0;
        overflow: hidden;
        border: 0;
        margin-bottom: 0;
    }
    .object-description .link-container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 20px;
    }
    .object-description .reviews-head {
        margin-bottom: 15px;
    }
    .object-description .set-rating .stars-block {
        margin-right: 4px;
    }
    .object-description .reviews-text {
        max-height: 105px;
        -webkit-line-clamp: 5;
    }
    .object-description .questions-block {
        padding-left: 16px;
        padding-right: 16px;
    }
    .object-description .reviews-block-item {
        padding-left: 16px;
        padding-right: 16px;
    }
    .object-description .reviews-block-item:last-of-type {
        margin-bottom: 0;
        border-bottom: 0;
        padding-bottom: 0;
    }
    .empty-block.active {
        margin-top: 0;
        margin-bottom: 30px;
        height: 385px;
    }
    .reviews-form {
        padding: 20px 16px;
        height: auto;
    }
    .reviews-form .top-form {
        flex-direction: column;
    }
    .reviews-form .top-form input {
        max-width: none;
    }
    .reviews-form .top-form input:first-of-type {
        margin-right: 0;
    }
    .reviews-form input[type=submit] {
        max-width: none;
    }
    .empty-block form {
        margin-top: 20px;
    }
    .description-content {
        padding: 0 16px 16px 16px;
    }
    .mobile-object-description {
        display: block;
    }
    .mobile-object-description .mobile-map-content .map-content {
        height: 300px;
    }
    .mobile-object-description .mobile-map-content .map-content #map-mobile {
        height: 100%;
    }
}
